# -----------------
# Miscellaneous
# -----------------
*.class
*.log
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -----------------
# IDE
# -----------------
.idea/
.vscode/
*.iml
*.ipr
*.iws

# -----------------
# Flutter / Dart
# -----------------
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# -----------------
# Android build
# -----------------
android/app/debug
android/app/profile
android/app/release

# -----------------
# Python
# -----------------
# Virtual environments
.venv/
venv/
env/
backend/.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

models/
*.pkl
*.npy